# Node
NODE_ENV=development

# HTTP
PORT=3000
HOST=0.0.0.0

# Logging
ERROR_LOGGING=true
REQUEST_LOGGING=true

# Swagger
SWAGGER=true

# Knex
DEBUG=knex:query

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=user
PGPASSWORD=password
PGDATABASE=default

# AUTH0
AUTH0_ISSUER_URL=https://mock.auth0.com/api/v2/
AUTH0_CLIENT_ID=CLIENT_ID
AUTH0_AUDIENCE=AUDIENCE
AUTH0_CLIENT_SECRET=CLIENT_SECRET

